@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gambetta';
  src: url('./assets/fonts/Gambetta-Semibold.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'gambetta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F172A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}