@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "satochi";
  src: url(./assets/fonts/Alpino-Bold.otf) format("opentype");
}

@font-face {
  font-family: "supreme";
  src: url("./assets/fonts/Supreme-Regular.otf") format("opentype");
}

p, a, li, span{
  font-family: "supreme";
}

h1, h2{
  font-family: "satochi";
}

body{
  background-color: #f8f8f8;
}

nav{
  background-color: #f8f8f8;
}