@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'satoshi';
  src: url('./assets/fonts/Satoshi-Black.otf') format('opentype');
}

@font-face {
  font-family: 'supreme';
  src: url('./assets/fonts/Supreme-Regular.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'supreme';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F1628;
}

nav a {
  font-family: 'supreme';
}

nav .logo{
  display: none;
}

@media screen and (min-width: 800px) {
  nav .logo{
    display: flex;
  }
}

h1,h2, a {
  font-family: 'satoshi';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}